My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "621c9059-6cfa-4626-8409-d08ae69226c4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aHENmIsYM2T1hcRrfJDLQbLBmL87O3CnDZmWbbhPg4g",
          "mode": "list",
          "cachedResultName": "sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aHENmIsYM2T1hcRrfJDLQbLBmL87O3CnDZmWbbhPg4g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aHENmIsYM2T1hcRrfJDLQbLBmL87O3CnDZmWbbhPg4g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "cba2ab43-e792-4bac-960a-fb80574d563a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jpqBUxAgyVJbdQne",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Saraaljrebah1@gmail.com",
        "subject": "Daily Sales Summary",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "bc9954c3-72a3-4006-90ea-8a3b38847722",
      "name": "Send a message",
      "webhookId": "6f90dd6c-b6cd-43bb-8a85-5f998c98ba95",
      "credentials": {
        "gmailOAuth2": {
          "id": "r9YRLrGjezmhfdgh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nif (rows.length === 0) {\n  return [{\n    json: {\n      html: \"<p>📭 No sales recorded today.</p>\"\n    }\n  }];\n}\n\nlet html = `\n<h2>📊 Daily Sales Summary</h2>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n  <tr>\n    <th>Customer</th>\n    <th>Product</th>\n    <th>In Cart</th>\n    <th>Purchased</th>\n    <th>Comment</th>\n    <th>Date</th>\n  </tr>\n`;\n\nrows.forEach(r => {\n  html += `\n  <tr>\n    <td>${r[\"Customer Name\"]}</td>\n    <td>${r[\"Product Name\"]}</td>\n    <td>${r[\"In Cart \"]}</td>\n    <td>${r[\"Purchased?\"]}</td>\n    <td>${r[\"Comment\"] || \"-\"}</td>\n    <td>${new Date(r[\"Date\"]).toLocaleString(\"en-US\", { timeZone: \"Asia/Riyadh\" })}</td>\n  </tr>\n  `;\n});\n\nhtml += \"</table>\";\n\nreturn [{\n  json: { html }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e19d7a41-8aa8-4ef2-8761-a9fa29726430",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5773c7ca-137c-41d0-9d11-9b8d0087816b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9f414b0b87381100553492906a874a4b38c82b9760fa015ca0728db6074ef86"
  },
  "id": "Oodp8QuMkNRKFD2E",
  "tags": []
}